@import 'colors';

@mixin container{
    width: 1000px;
    margin: 0 auto;
    height: 100%;
}

@mixin button-blue{
    background-color: $navbar-bg;
    padding: 15px 30px;
}

@mixin button-black{
    background-color: black;
    padding: 10px 20px;
}

@mixin coral-line {
    position: absolute;
    content: "";
    height: 2px;
    background-color: $icon-bg-color;
    width: 30%;
    right: 35%;
    bottom: -50px;    
}

$bg-jumbotron: "../img/home_slider_bg.jpg";
$bg-featured:"../img/featured_article_1_bg.jpg";
$parag-height: 35px;