@import 'colors';



@mixin container{
    width: 1100px;
    margin: 0 auto;
    height: 100%;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-justify-center {
    display: flex;
    justify-content: center;
}

@mixin button-blue{
    background-color: $navbar-bg;
    padding: 15px 30px;
}

@mixin button-black{
    background-color: black;
    padding: 10px 20px;
    text-transform: uppercase;
}

@mixin coral-line {
    position: absolute;
    content: "";
    height: 2px;
    background-color: $icon-bg-color;
    width: 30%;
    right: 35%;
    bottom: -50px;    
}

@mixin title-description {
    letter-spacing: 5px;
    padding-bottom: 20px;
    font-size: 12px;
}

@mixin title-product {
    font-size: 35px;
    margin-bottom: 30px;
}

@mixin black-section{
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

$bg-jumbotron: "../img/home_slider_bg.jpg";
$bg-featured:"../img/featured_article_1_bg.jpg";
$parag-height: 35px;
$bg-tutorials:"../img/featured-bg.jpg";
$bg-forum:"../img/forum-bg.jpg";

$original: #25a9bd;
$new: #4a4a4a;