@import 'variables';

/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

body{
    font-family: 'Noto Sans JP', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}
/* END RESET */


/* utility */
.btn-black{
    @include button-black;
}

/* NAVBAR */
.navbar{
    width: 100%;
    height: 90px;
    background-color: $navbar-bg;

    &-container{
        @include container;
        @include flex-space-between;
        align-items: center;
        color: white;        

        .navbar-right{
            height: 100%;
            display: flex;
            align-items: center;
            
            > li{
                margin-left: 25px;
                position: relative;

                
            }

            > .arrow-down:hover::after{
                content: "";
                position: absolute;
                left: 25%;
                bottom:-45px;
                width: 0;
                height: 0;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-top: 12px solid $navbar-bg;
                clear: both;
            }

        }
    }
}//end NavBar

.jumbotron{
    width: 100%;
    background-image: url($bg-jumbotron);
    background-repeat: no-repeat;
    height: 891px;

    &-container{
        @include container;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;

        .jumbotron-title{
            font-size: 100px;
        }

        .jumbotron-description{
            font-size: 25px;
            padding: 40px 0 55px;
        }

        .jumbotron-button{

            > span{
                @include button-blue;
            }
        }
    }    
}// end Jumbotron

.about{
    height: 400px;
    background-color: $bg-row;

    &-container{
        @include container;
        @include flex-center;
        flex-direction: column;

        .about-title{
            @include title-description;
        }

        > p{
            width: 70%;
            text-align: center;
            line-height: $parag-height;
            font-size: 25px;
            color: $light-text-color;
        }
    }
}// end about

.title-section-container{
    @include container;
    @include flex-center;
    height: 250px;
    margin-bottom: 50px;

    .title-section{
        text-align: center;
        position: relative;

        > h3 {
            @include title-description;                
            
        }
        
        > h2{
            font-size: 40px;
        }

        &:after{
            @include coral-line;               
        }
    }
} // end title section container


.main{
    background-color: white;

    
    &-products-container{
        @include container;
        @include flex-space-between;
        margin-bottom: 80px;

        .product{
            width: calc(100%/3 - 20px);

            >img{
                width: 100%;
            }

            > h4{
                font-size: 13px;
                margin-top: 10px;
                
                > a {
                    color: black;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            
            > h5{
                color: $light-text-color;
                margin: 10px 0 20px;
                font-size: 8px;
            }
            
            > p{
                line-height: $parag-height;
                color: $light-text-color;
                font-size: 13px;                
            }

        }
    } // end products

    &-featured-container{
        @include container;
        @include flex-justify-center;
        height:550px;
        background-image: url($bg-featured);
        background-size: cover;
        align-items: flex-end;
        margin-bottom: 100px;
        padding-bottom: 100px;
        
        .featured-content{
            width: 85%;
            color: white;
            
            > h3{
                @include title-description;
            }

            > h2{
                @include title-product;
            }

            > p{
                line-height: $parag-height;
            }

            > .featured-button{
                margin-top: 30px;
                > span{
                    @include button-black;
                }
            }
        }
        
    } // end featured container

    &-tutorials-container{
        @include container;
        display: flex;
        margin-bottom: 100px;

    .tutorials-left-content{
        @include flex-justify-center;
        background-image: url($bg-tutorials);
        background-size: cover;
        width:65%;
        color: white;
        flex-direction: column;
        padding: 50px;
        

        > h3{
            @include title-description;
        }

        > h2{
            @include title-product;
        }

        > p{
            line-height: $parag-height;
        }

        > .tutorials-button{
            margin-top: 30px;
            > span{
                @include button-black;
            }
        }
    } // end tutorials left
    
    .tutorials-rigth-content{
        @include flex-space-between;
        width: 35%;
        height: 500px;
        padding-left: 30px;
        flex-direction: column;
        
        > h2{
            position: relative;
            padding-bottom: 20px;

            &:after{
                position: absolute;
                content: "";
                height: 2px;
                background-color: $icon-bg-color;
                width: 30%;
                left: 0;
                bottom: 0; 
            }
        }
        
        
        > .tutorials-box{
            display: flex;

            > img{
                margin-right: 15px;
            }

            > div > h4{
                font-size: 13px;
                margin-top: 10px;
                margin-bottom: 10px;

                > a{
                    color: black;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }

            > div > h5{
                color: $light-text-color;
                margin: 10px 0 20px;
                font-size: 8px;
            }
        }
    }
    }// end tutorials container
}// end Main

.read-blog{
    @include black-section;
    > h3{
        > span{
            margin-left: 10px;
        }
    }
}//end read Blog

.forum{
    background-color: $bg-row ;

    &-rooms-container{
        @include container;
        @include flex-space-between;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
        padding-bottom: 150px;

        > .room{
            @include flex-center;
            flex-direction: column;
            background-color: white;
            border-top: 2px solid $navbar-bg;
            width: 22%;
            height: 220px;
            margin-bottom: 30px;

            > div{
                @include flex-center;
                background-color: $icon-bg-color;
                color: white;
                font-size: 50px;
                width: 50px;
                height: 50px;
                padding: 50px;
                border-radius:100%;
                margin: 25px 0 15px;
            }

            > h3 {
                margin-bottom: 50px;

                > a{
                    color: black;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}// end forum

.go-forum{
    @include black-section;
    > h3{
        > span{
            margin-left: 10px;
        }
    }
}//go-forum


.sign-community{
    @include flex-center;
    height: 650px;
    background-image: url($bg-forum);
    background-size: cover;

    &-container{
        @include container;
        height: auto;

        > .sign-community-content{
            color: white;
            text-align: center;

            > h2{
                font-size: 40px;
                width: 30%;
                margin: 0 auto;
                padding-bottom: 30px;
            }

            > p {
                width: 60%;
                margin: 0 auto;
                line-height: 30px;
                padding-bottom: 50px;
            }

            > .sign-button{

                > span{
                    @include button-blue;
                }                
            }
        
        }

    }
}// end sign community

.subscribe{
    height: 350px;
    background-color: $bg-row;

    &-container{
        @include container;
        @include flex-center;
        flex-direction: column;

        > h3{
            font-weight: 300;
            font-size: 30px;
            margin-bottom: 30px;
        }
        
        > .input-content{
            @include flex-center;
            width: 100%;

            > input{
                border:1px solid #eee;
                width: 40%;
                padding: 15px 10px;
                margin-right: 20px;
                
            }

            > span{
                background-color: black;
                padding: 10px 85px;
                color: white;
            }
        }
    }
}//end subscribe

.footer{
    background-color: white;
    margin-top: 50px;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 50px ;

    &-container{
        @include container;
        @include flex-space-between;

        > .footer-list-content{
            width: 240px;

            > h4{
                margin-bottom: 25px;
            }
            
            > .footer-list {
                
                > li {
                    display: flex;
                    padding: 15px 0;
                    border-bottom: 1px solid #F2F2F2;
                    color: $light-text-color;
                    font-size: 12px;

                    > div{
                        padding-right: 5px;
                    }

                    >a{
                        text-decoration: none;
                        color: $light-text-color;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }

            > .list-description {
                padding-top: 15px;
                color: $light-text-color;
                font-size: 12px;
            }
        }
    }
}// end footer

.copyright{
    background-color: white;
    padding: 50px 0 30px;

    &-container{
        @include container;
        @include flex-space-between;
        align-items: center;

        > .copyright-text{
            font-size: 12px;
            color: $light-text-color;

            > a{
                text-decoration: none;
                color: #292a2d;

                &:hover{
                    text-decoration: underline;
                }
            }
        }

        > .social{
            display: flex;
            
            > div{
                @include flex-center;
                background-color: #354D89;
                width: 50px;
                height: 50px;
                font-size: 15px;
                border-radius: 50%;
                padding: 15px;
                margin-left: 10px;

                > a{
                    color: white;
                    text-decoration: none;
                }

            }

            >.twitter{
                background-color: #4CA2E6;
            }

            > .instagram{
                background-color: #38678D;
            }

            >.youtube{
                background-color: #C30000;
            }

        }
    }
} // end copyright

.up{
    position: fixed;
    bottom: 0;
    right: 10%;
    background-color: #3E3E3E;
    padding: 10px 20px;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}