@import 'variables';

/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

ul{
    list-style-type: none;
}
/* END RESET */


/* utility */
.btn-black{
    @include button-black;
}

/* NAVBAR */
.navbar{
    width: 100%;
    height: 90px;
    background-color: $navbar-bg;

    &-container{
        @include container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        height: 100%;

        .navbar-right{
            height: 100%;
            display: flex;
            align-items: center;
            
            > li{
                margin-left: 25px;
            }
        }
    }
}//end NavBar

.jumbotron{
    width: 100%;
    background-image: url($bg-jumbotron);
    background-repeat: no-repeat;
    height: 891px;

    &-container{
        @include container;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;

        .jumbotron-title{
            font-size: 100px;
        }

        .jumbotron-description{
            font-size: 25px;
            padding: 40px 0 55px;
        }

        .jumbotron-button{

            > span{
                @include button-blue;
            }
        }
    }    
}// end Jumbotron

.about{
    height: 400px;
    background-color: $bg-row;

    &-container{
        @include container;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .about-title{
            letter-spacing: 3px;
            padding-bottom: 20px;
            font-size: 15px;
        }

        > p{
            width: 70%;
            text-align: center;
            line-height: $parag-height;
            font-size: 25px;
            color: $light-text-color;
        }
    }
}// end about

.main{
    background-color: white;

    &-title-container{
        @include container;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        .title-main{
            text-align: center;
            position: relative;

            > h3 {
                letter-spacing: 3px;
                padding-bottom: 20px;
                font-size: 15px;
            }
            
            > h2{
                font-size: 40px;
            }

            &:after{
                @include coral-line;               
            }
        }
    } // end title container

    &-products-container{
        @include container;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;

        .product{
            height: 100%;
            width: calc(100%/3 - 20px);

            >img{
                width: 100%;
            }

            > h4{
                font-size: 15px;
                margin-top: 10px;
            }
            
            > h5{
                color: $light-text-color;
                margin: 10px 0 20px;
                font-size: 10px;
            }
            
            > p{
                line-height: $parag-height;
                color: $light-text-color;
                font-size: 15px;                
            }

        }
    } // end products

    &-featured-container{
        @include container;
        height:550px;
        background-image: url($bg-featured);
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 60px;
        padding-bottom: 100px;
        
        .featured-content{
            width: 85%;
            color: white;
            
            > h3{
                letter-spacing: 3px;
                padding-bottom: 20px;
                font-size: 15px;
            }

            > h2{
                font-size: 40px;
                margin-bottom: 30px;
            }

            > p{
                line-height: $parag-height;
            }

            > .featured-button{
                margin-top: 30px;
                > span{
                    @include button-black;
                }
            }
        }
        
    } // end featured container

}// end Main